@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
	/* Font */
	--font: "Rubik", sans-serif;
	--white: #fff;
	--icy: #f0ebd8;
	--light: #ffffff87;
	--mid: #363636;
	--mid2: #979797;
	--dark: #121212;
	--dark2: #1d1d1d;
}
