@import url("../../_variables.css");

.ad-item {
	display: flex;
	align-items: center;
	width: 98%;
	gap: 30px;
	padding: 10px 14px;
	border-radius: 8px;
	background-color: var(--mid);
	transition: all 0.2s ease-in-out;
	position: relative;
}

.ad-item .thumbnail {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.ad-item .text-content {
	display: flex;
	align-items: center;
	gap: 10px;
}
.ad-item .text-content .title {
	text-transform: capitalize;
	width: 300px;
	font-weight: 400;
	color: var(--icy);
	font-size: 18px;
}
.ad-item .text-content .price {
	font-size: 24px;
	font-weight: 600;
	color: var(--white);
}

.ad-item .site-logo {
	width: 30px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.ad-item .delete-btn {
	background-color: transparent;
	border: none;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	border-radius: 4px;
	transition: all 0.2s ease-in-out;
}
.ad-item .delete-btn:hover {
	background-color: var(--dark);
}
.ad-item .delete-btn img {
	width: 30px;
	height: 30px;
}
.ad-item:hover {
	opacity: 0.8;
}
