@import url("../../_variables.css");

.header {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--mid);
	padding-inline: 20px;
}
.header .main-logo {
	width: 40px;
}

.header .add-btn,
.header .refresh-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--font);
	font-size: 18px;
	height: 36px;
	width: 160px;
	border-radius: 100px;
	border: none;
	background-color: var(--dark);
	color: var(--white);
	font-weight: 500;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.header .add-btn span,
.header .refresh-btn span {
	display: flex;
	align-items: center;
	gap: 10px;
}
.header .add-btn span img,
.header .refresh-btn span img {
	width: 20px;
}
.header .add-btn:hover {
	background-color: var(--dark2);
}
.header .search-wrapper {
	position: relative;
	display: flex;
	align-items: center;
}

.header .search-wrapper .search-icon {
	position: absolute;
	left: 10px;
	width: 30px;
}
.header .search-wrapper .search-input {
	width: 280px;
	height: 40px;
	border-radius: 50px;
	border: none;
	background-color: var(--dark2);
	font-family: var(--font);
	text-indent: 44px;
	font-size: 18px;
	color: var(--white);
	outline: none;
}

.ad-list-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	height: 540px;
	overflow: auto;
	scrollbar-gutter: stable;
	background-color: var(--dark);
	padding-block: 20px;
}
.ad-list-wrapper .no-ad-warning {
	font-size: 24px;
	color: var(--white);
}

.ad-list-wrapper .no-ad-warning span {
	font-weight: 600;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--mid);
}

::-webkit-scrollbar-thumb {
	background: var(--light);
}
