@import url("../../_variables.css");

.header {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--light);
}
.header .main-title {
	text-transform: capitalize;
	font-weight: 600;
	color: var(--icy);
	font-size: 30px;
}

.ad-list-wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	max-height: 540px;
	overflow: auto;
	scrollbar-gutter: stable;
	background-color: var(--dark);
	padding-block: 10px;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #3e5c76;
}

::-webkit-scrollbar-thumb {
	background: #748cab;
}
